*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: snow;
    background-color: rgb(19, 19, 19);
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45 45 45);
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}
main{
    font-family: sans-serif;
    display: flex;
}
.name-info{
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: transparent;
}
.name-info img{
    width: 70%;
    margin-left: 150px;
}
.ul-info{
    width: 50%;
    background-color: transparent;
}
.ul-header{
    margin-right: 100px;
    display: flex;
    justify-content: space-evenly;
    font-size: 30px;
    background-color: transparent;
}
.ul-header li{
    background-color: transparent;
}
.ul-header li:hover {
    border-bottom: 2px solid black;
    transition: border-color 0.9s ease;
}
.ul-header a{
    text-decoration: none;
    background-color: transparent;
}
.hero-container{
    height: 100vh;
}
.hero-container img{
    height:90%;
    margin-top: 15px;
    border-radius: 20px;
}
.hero{
    height: 100%; 
    width: 35vw;
}
.h2-info{
    height: 100vh;
    width: 100%;
    background-color: rgb(19, 19, 19);
    display: flex;
    flex-direction: column;
}
.h2-info h2{
    margin-top: 300px;
    margin-left: 200px;
    font-size: 150px;
}
.h2-info h3{
    margin-left: 200px;
    margin-top: 100px;
}
.explore-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 5%;
    margin-left: 200px;
    margin-top: 100px;
    border-radius: 30px;
    text-decoration: none;
    background-color: snow;
}
.explore-btn input {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    color: black;
    font-size: 1rem;
    cursor: pointer;
}
.explore-btn:hover {
    background-color: #8d8b8b;
    transition: background-color 0.3s ease;
}

/* CONTACT STYLES */
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: sans-serif;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    background-color: azure;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 3px solid #197b56;
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    width: 40%;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#197b56, #195e7b);
    cursor: pointer;
}
.contact-right img{
    height: 800px;
}
@media (max-width:800px){
    .contact-inputs{
        width: 80vw;
    }
    .contact-right{
        display: none;
    }
}